.Profile {
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.50);
    border-radius: 5px;
    width: 500px;
    height: 800px;
    position: relative;
    font-family: Montserrat;

    background-color: #FFFFFF;
    background-image:
      linear-gradient(
        to bottom, 
        #002C71,
        #002C71 10%,
        #FFFFFF 10%,
        #FFFFFF 90%
      );
}

@media only screen and (max-width: 600px) {
    .Profile {
        width: 320px;
    }
}